<div class="container mt-5 text-center" *ngIf="movie">
    <img [src]="'https://image.tmdb.org/t/p/w1280' + movie.backdrop_path" alt="Backdrop Image" class="backdrop-image">
</div>

<div class="container mt-5">
    <div *ngIf="movie" class="movie-container">
        <div class="movie-details">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Movie Picture" class="movie-image">
            <div class="movie-info">
                <h1 class="text-white"><b>{{ movie.title }}</b></h1>
                <p style="color: #9ACD32">{{ movie.overview }}</p>
                <p class="text-white">{{ movie.release_date }}</p>
                <p class="text-white">{{ movie.runtime }} minutes</p>
                <p class="text-white">{{ getGenreNames(movie.genres) }}</p> <!-- Display genres -->
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" *ngIf="movie">
    <h1 class="text-white">Watch {{movie.title}}</h1>
</div>

<div class="container mt-3 mb-5" *ngIf="movieUrl"> <!-- Add this block -->
    <iframe [src]="movieUrl" frameborder="0" allowfullscreen></iframe>
</div>

<div class="container mt-5">
    <h1 class="text-white">You might also like</h1>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-2" *ngFor="let movie of getSlicedPopularMovies()" (click)="openMovieDetails(movie.id)">
            <img [src]="'https://image.tmdb.org/t/p/w342' + movie.poster_path" class="w-100" alt="Movie Picture">
            <p class="text-white mt-3" style="font-size: 18px"><b>{{ movie.title }}</b></p>
            <p class="text-white">{{ movie.release_date }}</p>
        </div>
    </div>
</div>